Repository os-fpga/FOEDAG, pull requests merged in 2021-10, with the labels that each got.

#24 make all
  CMakeLists.txt
Labels: build, lang-make

#25 Tcl build
  CMakeLists.txt
  INSTALL.md
Labels: documentation, build, lang-make

#26 Fix dependancy for tcl rebuild
  .github/bin/run-clang-format.sh
  CMakeLists.txt
  src/Main/main.cpp
  src/Tcl/HelloTcl_test.cpp
  src/Tcl/TclInterpreter.h
Labels: build, lang-make, github

#27 Enable Google Tests for Tcl
  CMakeLists.txt
  src/Tcl/HelloTcl_test.cpp
  src/Tcl/TclInterpreter.cpp
  src/Tcl/TclInterpreter.h
Labels: build, lang-make

#30 Enabel Qt toy example in Compilation
  CMakeLists.txt
  src/Main/main.cpp
  src/gui/CMakeLists.txt
  src/gui/main.cpp
Labels: build, lang-make

#32 Update documentation to include build instructions from INSTALL.md
  INSTALL.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/tutorials/getting_started/build_instructions.rst
  docs/source/tutorials/getting_started/dependencies.rst
  docs/source/tutorials/getting_started/index.rst
  docs/source/tutorials/index.rst
Labels: documentation

#61 Headless Gui testing
  .github/workflows/install_ubuntu_dependencies_build.sh
  .github/workflows/main.yml
  CMakeLists.txt
  Makefile
  src/Main/CommandLine.cpp
  src/Main/CommandLine.h
  src/Main/foedag.h
  src/Main/main.cpp
  src/Main/registerTclCommands.cpp
  src/MainWindow/Session.h
  src/Tcl/TclInterpreter.cpp
  src/Tcl/TclInterpreter.h
  tests/TestGui/gui_start_stop.tcl
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make, github

#62 License banners
  CMakeLists.txt
  Makefile
  src/Command/Command.cpp
  src/Command/Command.h
  src/Command/CommandStack.cpp
  src/Command/CommandStack.h
  src/Command/Command_test.cpp
  src/Main/CommandLine.cpp
  src/Main/CommandLine.h
  src/Main/GuiMain_test.cpp
  src/Main/foedag.h
  src/Main/main.cpp
  src/Main/registerTclCommands.cpp
  src/MainWindow/Session.cpp
  src/MainWindow/Session.h
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
  src/Tcl/HelloTcl_test.cpp
  src/Tcl/TclInterpreter.cpp
  src/Tcl/TclInterpreter.h
  tests/TestGui/gui_start_stop.tcl
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make
