Repository os-fpga/FOEDAG, pull requests merged in 2021-11, with the labels that each got.

#69 doc
  Makefile
  docs/source/help/help.txt
  docs/source/overview/figures/gui_top_architecture.png
  docs/source/overview/help.rst
  docs/source/overview/index.rst
  src/Main/CommandLine.cpp
  src/Main/main.cpp
Labels: documentation, build, lang-make

#70 Doc
  DEPENDENCIES.md
  INSTALL.md
  Makefile
  docs/source/tutorials/getting_started/dependencies.rst
Labels: documentation, build, lang-make

#71 Modular main
  CMakeLists.txt
  src/Main/CommandLine.h
  src/Main/Foedag.cpp
  src/Main/Foedag.h
  src/Main/foedag.h
  src/Main/main.cpp
  src/Main/registerTclCommands.cpp
  src/MainWindow/main_window.cpp
Labels: build, lang-make

#82 Add a newproject GUI
  CMakeLists.txt
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
  src/NewProject/CMakeLists.txt
  src/NewProject/add_constraints_form.cpp
  src/NewProject/add_constraints_form.h
  src/NewProject/add_constraints_form.ui
  src/NewProject/add_source_form.cpp
  src/NewProject/add_source_form.h
  src/NewProject/add_source_form.ui
  src/NewProject/create_file_dialog.cpp
  src/NewProject/create_file_dialog.h
  src/NewProject/create_file_dialog.ui
  src/NewProject/device_planner_form.cpp
  src/NewProject/device_planner_form.h
  src/NewProject/device_planner_form.ui
  src/NewProject/img/info.png
  src/NewProject/img/warn.png
  src/NewProject/location_form.cpp
  src/NewProject/location_form.h
  src/NewProject/location_form.ui
  src/NewProject/new_project_dialog.cpp
  src/NewProject/new_project_dialog.h
  src/NewProject/new_project_dialog.ui
  src/NewProject/newproject.qrc
  src/NewProject/newproject_main.cpp
  src/NewProject/project_type_form.cpp
  src/NewProject/project_type_form.h
  src/NewProject/project_type_form.ui
  src/NewProject/source_grid.cpp
  src/NewProject/source_grid.h
  src/NewProject/summary_form.cpp
  src/NewProject/summary_form.h
  src/NewProject/summary_form.ui
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make

#81 Mingw (cont)
  .github/workflows/main.yml
  CMakeLists.txt
  tests/TestInstall/CMakeLists.txt
  third_party/tcl_cmake/tcl_make.cmake
  third_party/zlib/Makefile
  third_party/zlib/zlib_make.cmake
Labels: build, lang-make, github

#83 make lib-only for msys2
  .github/workflows/main.yml
  Makefile
Labels: build, lang-make, github

#84 Top cmake cleanup
  CMakeLists.txt
  src/NewProject/CMakeLists.txt
Labels: build, lang-make

#86 Add display and Select device
  CMakeLists.txt
  device.xml
  src/NewProject/CMakeLists.txt
  src/NewProject/Main/newproject_main.cpp
  src/NewProject/ProjectManager/config.cpp
  src/NewProject/ProjectManager/config.h
  src/NewProject/ProjectManager/project_configuration.cpp
  src/NewProject/ProjectManager/project_configuration.h
  src/NewProject/ProjectManager/project_fileset.cpp
  src/NewProject/ProjectManager/project_fileset.h
  src/NewProject/ProjectManager/project_option.cpp
  src/NewProject/ProjectManager/project_option.h
  src/NewProject/ProjectManager/project_run.cpp
  src/NewProject/ProjectManager/project_run.h
  src/NewProject/add_constraints_form.cpp
  src/NewProject/add_constraints_form.h
  src/NewProject/add_source_form.cpp
  src/NewProject/add_source_form.h
  src/NewProject/create_file_dialog.cpp
  src/NewProject/create_file_dialog.h
  src/NewProject/device_planner_form.cpp
  src/NewProject/device_planner_form.h
  src/NewProject/device_planner_form.ui
  src/NewProject/location_form.cpp
  src/NewProject/location_form.h
  src/NewProject/new_project_dialog.cpp
  src/NewProject/new_project_dialog.h
  src/NewProject/project_type_form.cpp
  src/NewProject/project_type_form.h
  src/NewProject/source_grid.cpp
  src/NewProject/source_grid.h
  src/NewProject/summary_form.cpp
  src/NewProject/summary_form.h
  src/NewProject/summary_form.ui
Labels: build, lang-make

#87 Allow replay infra to work with any widget
  Makefile
  src/Main/Foedag.cpp
  src/Main/Foedag.h
  src/Main/main.cpp
  src/MainWindow/Session.h
  src/NewProject/Main/newproject_main.cpp
  tests/TestGui/gui_new_project.tcl
Labels: build, lang-make

#89 Clean top level cmake, warnings
  CMakeLists.txt
  src/Main/CMakeLists.txt
  src/NewProject/CMakeLists.txt
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make

#90 make cmake of NewProject as standalone as possible
  CMakeLists.txt
  src/NewProject/CMakeLists.txt
Labels: build, lang-make

#94 Add Console sub-project
  CMakeLists.txt
  src/Console/CMakeLists.txt
Labels: build, lang-make

#100 test/batch on Windows
  .github/workflows/main.yml
  Makefile
Labels: build, lang-make, github

#102 Add project navigator sub_project
  CMakeLists.txt
  src/MainWindow/main_window.cpp
  src/NewProject/ProjectManager/project.cpp
  src/NewProject/ProjectManager/project_manager.cpp
  src/NewProject/new_project_dialog.cpp
  src/NewProject/source_grid.cpp
  src/ProjNavigator/CMakeLists.txt
  src/ProjNavigator/Test/projnavigator_main.cpp
  src/ProjNavigator/sources_form.cpp
  src/ProjNavigator/sources_form.h
  src/ProjNavigator/sources_form.ui
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make

#103 Initialize data and add right-click menu for source tree
  Makefile
  src/MainWindow/main_window.cpp
  src/NewProject/ProjectManager/config.cpp
  src/NewProject/ProjectManager/config.h
  src/NewProject/ProjectManager/project.cpp
  src/NewProject/ProjectManager/project.h
  src/NewProject/ProjectManager/project_configuration.cpp
  src/NewProject/ProjectManager/project_configuration.h
  src/NewProject/ProjectManager/project_fileset.cpp
  src/NewProject/ProjectManager/project_fileset.h
  src/NewProject/ProjectManager/project_manager.cpp
  src/NewProject/ProjectManager/project_manager.h
  src/NewProject/ProjectManager/project_option.cpp
  src/NewProject/ProjectManager/project_option.h
  src/NewProject/ProjectManager/project_run.cpp
  src/NewProject/ProjectManager/project_run.h
  src/NewProject/add_constraints_form.cpp
  src/NewProject/add_constraints_form.h
  src/NewProject/add_source_form.cpp
  src/NewProject/add_source_form.h
  src/NewProject/create_file_dialog.cpp
  src/NewProject/create_file_dialog.h
  src/NewProject/device_planner_form.cpp
  src/NewProject/device_planner_form.h
  src/NewProject/location_form.cpp
  src/NewProject/location_form.h
  src/NewProject/new_project_dialog.cpp
  src/NewProject/new_project_dialog.h
  src/NewProject/project_type_form.cpp
  src/NewProject/project_type_form.h
  src/NewProject/source_grid.cpp
  src/NewProject/source_grid.h
  src/NewProject/summary_form.cpp
  src/NewProject/summary_form.h
  src/ProjNavigator/Test/projnavigator_main.cpp
  src/ProjNavigator/sources_form.cpp
  src/ProjNavigator/sources_form.h
  tests/TestGui/gui_project_navigator.tcl
Labels: build, lang-make
