Repository os-fpga/FOEDAG, pull requests merged in 2022-12, with the labels that each got.

#835 [RG-205] Upgrade GCC from 9 to 11
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/install_ubuntu_dependencies_build.sh
  .github/workflows/main.yml
  DEPENDENCIES.md
Labels: documentation, github

#848 Revert "[RG-205] Upgrade GCC from 9 to 11"
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/install_ubuntu_dependencies_build.sh
  .github/workflows/main.yml
  CMakeLists.txt
  DEPENDENCIES.md
Labels: documentation, github

#846 GTKWave: Fix interface issues and change non-error msg to status msg.
  Makefile
  src/Compiler/Compiler.cpp
  tests/TestGui/gtkwave_open_bad_path.tcl
Labels: build, lang-make

#856 [RG-222] Add header info to logs
  Makefile
  etc/copyright.txt
  src/Command/CommandStack.cpp
  src/Compiler/Compiler.cpp
  src/Compiler/Compiler.h
  src/Compiler/CompilerDefines.h
  src/Compiler/CompilerOpenFPGA.cpp
  src/Utils/CMakeLists.txt
  src/Utils/LogUtils.cpp
  src/Utils/LogUtils.h
  tests/TestGui/log_header.tcl
Labels: build, lang-make

#868 [RG-228] Add close_design tcl command
  CMakeLists.txt
  Makefile
  src/Compiler/Compiler.cpp
  src/Compiler/CompilerOpenFPGA.cpp
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
  src/ProjNavigator/tcl_command_integration.cpp
  src/ProjNavigator/tcl_command_integration.h
  tests/Testcases/oneff_close/oneff.sdc
  tests/Testcases/oneff_close/oneff.tcl
  tests/Testcases/oneff_close/oneff.v
Labels: build, lang-make

#871 GTKWave: Add install/uninstall targets. Add test to verify install/invoke.
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/main.yml
  Makefile
  tests/TestGui/gtkwave_invoke.tcl
  third_party/gtkwave_cmake/CMakeLists.txt
Labels: build, lang-make, github

#874 Adding TextBox to WidgetFactory
  CMakeLists.txt
  src/Main/WidgetFactory.cpp
  src/Main/WidgetFactory.h
Labels: build, lang-make

#878 Fixed settings for input line and text field when user uses dashes
  CMakeLists.txt
  src/Main/WidgetFactory.cpp
  src/Main/WidgetFactory.h
Labels: build, lang-make

#881 Disable gtkwave_invoke test
  CMakeLists.txt
  Makefile
Labels: build, lang-make

#880 [EDA-532] Moving IP cache path to inside the IP build dir
  Makefile
  src/IPGenerate/IPGenerator.cpp
  tests/Testcases/IPGenerate/test_ipgenerate_cache.tcl
Labels: build, lang-make

#884 [RG-243] GTKWave: Change wave_time to call gtkwave::setMarker
  CMakeLists.txt
  src/Compiler/Compiler.cpp
Labels: build, lang-make

#888 [RG-219] Add license view into Help->About window.
  CMakeLists.txt
  src/Main/AboutWidget.cpp
  src/Main/AboutWidget.h
  src/Main/main.cpp
Labels: build, lang-make

#886 [RG-222] Fix headers not including copyright when launching from install
  CMakeLists.txt
  Makefile
  src/Main/Foedag.cpp
  tests/TestBatch/log_header.tcl
  tests/TestGui/log_header.tcl
Labels: build, lang-make

#889 [EDA-804] Adding logic to copy logs even on error
  CMakeLists.txt
  src/Compiler/CompilerOpenFPGA.cpp
  third_party/scope_guard/CMakeLists.txt
  third_party/scope_guard/LICENSE
  third_party/scope_guard/README.md
  third_party/scope_guard/scope_guard.hpp
Labels: build, lang-make

#893 RG-234: Add one more optional parameter to simulation_options - level.
  Makefile
  src/Compiler/Compiler.cpp
  src/Compiler/CompilerOpenFPGA.cpp
  src/Simulation/Simulator.cpp
  src/Simulation/Simulator.h
  tests/TestGui/simulation_flow.tcl
Labels: build, lang-make

#897 [RG-199] Add GTKWave Tests
  CMakeLists.txt
  Makefile
  tests/TestGui/gtkwave_cmds.tcl
  tests/TestGui/gtkwave_invoke.tcl
  tests/TestGui/test.vcd
Labels: build, lang-make

#902 Build fix
  CMakeLists.txt
  Makefile
Labels: build, lang-make

#899 Adding a new subsystem called DesignQuery that will contain tcl commands to query design data
  CMakeLists.txt
  src/Compiler/CMakeLists.txt
  src/Compiler/Compiler.cpp
  src/Compiler/Compiler.h
  src/DesignQuery/CMakeLists.txt
  src/DesignQuery/DesignQuery.cpp
  src/DesignQuery/DesignQuery.h
  src/DesignQuery/Test/designquery_main.cpp
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make

#908 [RG-258] Add tcl command: clear_simulation_files
  Makefile
  src/Compiler/Compiler.cpp
  src/Compiler/CompilerOpenFPGA.cpp
  src/ProjNavigator/tcl_command_integration.cpp
  src/ProjNavigator/tcl_command_integration.h
  tests/Testcases/simulation_trivial/sim_main.cpp
  tests/Testcases/simulation_trivial/test.tcl
  tests/Testcases/simulation_trivial/test.v
Labels: build, lang-make

#911 [RG-261] Update constraints when user modified file. Post synth project.
  CMakeLists.txt
  src/Compiler/CompilerOpenFPGA.cpp
Labels: build, lang-make
