Repository os-fpga/FOEDAG, pull requests merged in 2022-08, with the labels that each got.

#559 Structure existing unit tests; Rename them according to agreed naming conventions.
  CMakeLists.txt
  tests/unittest/Command/Command_test.cpp
  tests/unittest/Tcl/TclInterpreter_test.cpp
Labels: build, lang-make

#560 IpConfigurator: Add Stub Files
  CMakeLists.txt
  Makefile
  src/IpConfigurator/CMakeLists.txt
  src/IpConfigurator/IpCatalogTree.cpp
  src/IpConfigurator/IpCatalogTree.h
  src/IpConfigurator/IpConfigDlg.cpp
  src/IpConfigurator/IpConfigDlg.h
  src/IpConfigurator/IpConfigurator.cpp
  src/IpConfigurator/IpConfigurator.h
  src/IpConfigurator/IpInstancesTree.cpp
  src/IpConfigurator/IpInstancesTree.h
  src/IpConfigurator/IpTreesWidget.cpp
  src/IpConfigurator/IpTreesWidget.h
  src/IpConfigurator/Test/ipconfigurator_main.cpp
  src/Main/registerTclCommands.cpp
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
  tests/TestGui/gui_ipconfigurator.tcl
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make

#569 Add pin assignment view stab files
  CMakeLists.txt
  Makefile
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
  src/PinAssignment/CMakeLists.txt
  src/PinAssignment/ConstraintCreator.cpp
  src/PinAssignment/ConstraintCreator.h
  src/PinAssignment/PackagePinsLoader.cpp
  src/PinAssignment/PackagePinsLoader.h
  src/PinAssignment/PackagePinsModel.cpp
  src/PinAssignment/PackagePinsModel.h
  src/PinAssignment/PackagePinsView.cpp
  src/PinAssignment/PackagePinsView.h
  src/PinAssignment/PinAssignmentCreator.cpp
  src/PinAssignment/PinAssignmentCreator.h
  src/PinAssignment/PinsBaseModel.cpp
  src/PinAssignment/PinsBaseModel.h
  src/PinAssignment/PortsLoader.cpp
  src/PinAssignment/PortsLoader.h
  src/PinAssignment/PortsModel.cpp
  src/PinAssignment/PortsModel.h
  src/PinAssignment/PortsView.cpp
  src/PinAssignment/PortsView.h
  src/PinAssignment/SaveDialog.cpp
  src/PinAssignment/SaveDialog.h
  src/PinAssignment/Test/PinAssignmentCommands.cpp
  src/PinAssignment/Test/PinAssignment_main.cpp
  tests/TestGui/gui_pinassignment.tcl
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make

#577 Foedag Compiler: Fix infinite loop in clean logic
  Makefile
  src/Compiler/Compiler.cpp
  tests/TestBatch/test_task_clean.tcl
Labels: build, lang-make

#581 Pin Assign Opt in the Add Constraint file form
  CMakeLists.txt
  src/NewProject/add_constraints_form.cpp
  src/NewProject/add_constraints_form.h
  src/NewProject/add_constraints_form.ui
  src/NewProject/new_project_dialog.cpp
  src/ProjNavigator/add_file_dialog.cpp
  src/ProjNavigator/add_file_form.cpp
  src/ProjNavigator/add_file_form.h
  src/ProjNavigator/add_file_form.ui
Labels: build, lang-make

#589 msys2 mingw64 build support
  .github/workflows/main.yml
  .gitignore
  CMakeLists.txt
  cmake/cmake_tcl.txt
  src/Main/registerTclCommands.cpp
  src/Utils/ProcessUtils.cpp
  tests/TestInstall/CMakeLists.txt
  third_party/tcl_cmake/CMakeLists.txt
  third_party/zlib/zlib_make.cmake
Labels: build, lang-make, github

#598 Add Doc For MSYS2 MinGW64 build support
  docs/source/tutorials/getting_started/dependencies.rst
Labels: documentation

#587 Load data for package pin table
  CMakeLists.txt
  etc/templates/Pin_Table.csv
  src/MainWindow/main_window.cpp
  src/PinAssignment/PackagePinsLoader.cpp
  src/PinAssignment/PackagePinsLoader.h
  src/PinAssignment/PackagePinsModel.cpp
  src/PinAssignment/PackagePinsModel.h
  src/PinAssignment/PackagePinsView.cpp
  src/PinAssignment/PackagePinsView.h
  src/PinAssignment/PinAssignmentCreator.cpp
  src/PinAssignment/PinAssignmentCreator.h
  src/PinAssignment/Test/PinAssignment_main.cpp
Labels: build, lang-make
