Repository os-fpga/FOEDAG, pull requests merged in 2022-10, with the labels that each got.

#716 Add free option for pin assignment.
  CMakeLists.txt
  src/Compiler/Compiler.cpp
  src/Compiler/Compiler.h
  src/Compiler/CompilerOpenFPGA.cpp
  src/Main/Tasks.cpp
Labels: build, lang-make

#752 update macos-gcc to gcc-11
  .github/workflows/main.yml
Labels: github

#756 Remove Swig
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/install_ubuntu_dependencies_build.sh
  .github/workflows/main.yml
  CMakeLists.txt
  DEPENDENCIES.md
  docs/source/tutorials/getting_started/dependencies.rst
Labels: documentation, build, lang-make, github

#755 Updating GitHub CI actions
  .github/workflows/main.yml
Labels: github

#769 Multi sdc file support
  CMakeLists.txt
  src/NewProject/source_grid.cpp
Labels: build, lang-make
