Repository os-fpga/FOEDAG, pull requests merged in 2022-11, with the labels that each got.

#763 [RG-146] --project runs the project. run_project tcl command introduced
  Makefile
  src/Compiler/Compiler.cpp
  src/Compiler/CompilerOpenFPGA.cpp
  src/MainWindow/Session.cpp
  src/MainWindow/TopLevelInterface.h
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
  tests/TestGui/run_project_test/run_project.tcl
  tests/TestGui/run_project_test/test.ospr
  tests/TestGui/run_project_test/test.srcs/sources_1/bottom.v
  tests/TestGui/run_project_test/test.srcs/sources_1/test.v
Labels: build, lang-make

#776 [RG-149] Enable multi-select in source tree
  src/ProjNavigator/sources_form.cpp
  src/ProjNavigator/sources_form.h
Labels: build, lang-make

#784 [RG-163] Load Tcl Init File at Start
  Makefile
  src/Main/Foedag.cpp
  src/Utils/FileUtils.cpp
  src/Utils/FileUtils.h
  tests/TestGui/tcl_init_file_load_pt1.tcl
  tests/TestGui/tcl_init_file_load_pt2.tcl
Labels: build, lang-make

#792 [RG-171] Add GTKWave to cmake
  CMakeLists.txt
  third_party/gtkwave_cmake/CMakeLists.txt
Labels: build, lang-make

#800 verilator support
  CMakeLists.txt
  src/Compiler/Compiler.cpp
  src/Compiler/Compiler.h
  src/Compiler/CompilerOpenFPGA.h
  src/Simulation/Simulator.cpp
  src/Simulation/Simulator.h
Labels: build, lang-make

#802 [RG-181] Add C and C++ file types
  CMakeLists.txt
  src/Compiler/Compiler.cpp
  src/Compiler/CompilerDefines.h
Labels: build, lang-make

#805 add note for setting Qt5_DIR for compilation with MSYS2
  docs/source/tutorials/getting_started/dependencies.rst
Labels: documentation

#813 [RG-186] Update GTKWave download paths
  CMakeLists.txt
  third_party/gtkwave_cmake/CMakeLists.txt
Labels: build, lang-make

#816 Fixed design files language enum values.
  CMakeLists.txt
  src/Compiler/CompilerDefines.h
Labels: build, lang-make

#819 Fixed ubuntu version
  .github/workflows/main.yml
Labels: github

#820 Update IP Generator to "quote" string types
  CMakeLists.txt
  src/IPGenerate/IPGenerator.cpp
  src/IPGenerate/IPGenerator.h
  tests/Testcases/IPGenerate/IP_Catalog/dummy_generators/RapidSilicon/IP/axi_ram/V1_0/axi_ram_gen.py
  tests/Testcases/IPGenerate/IP_Catalog/dummy_generators/RapidSilicon/IP/test_ip/V1_0/test_ip_gen.py
Labels: build, lang-make

#836 [RG-206] Print GTKWave stdout and stderr to console
  CMakeLists.txt
  src/Compiler/Compiler.cpp
Labels: build, lang-make
