Repository os-fpga/FOEDAG, pull requests merged in 2022-02, with the labels that each got.

#154 Qt declarative dev
  .github/workflows/install_ubuntu_dependencies_build.sh
  .github/workflows/main.yml
Labels: github

#163 Console test
  Makefile
  src/Console/Test/ConsoleTestUtils.h
  src/Console/Test/console_main.cpp
  tests/TestGui/gui_console.tcl
  tests/TestGui/gui_console_proc.tcl
Labels: build, lang-make

#164 Negative test and tcl error check
  .vscode/launch.json
  Makefile
  src/Console/TclConsoleWidget.h
  src/Console/Test/console_main.cpp
  src/Tcl/TclInterpreter.cpp
  tests/TestGui/gui_console_negative_test.tcl
Labels: build, lang-make

#170 Dependencies for ubuntu 20.10 and QtQuick controls 2
  DEPENDENCIES.md
Labels: documentation

#171 Centos build trials
  .github/workflows/main.yml
Labels: github

#178 Feature/#136 qml
  .gitignore
  CMakeLists.txt
  src/Main/CMakeLists.txt
  src/Main/CommandLine.cpp
  src/Main/CommandLine.h
  src/Main/Foedag.cpp
  src/Main/Foedag.h
  src/Main/main.cpp
  src/Main/registerTclCommands.cpp
  src/MainWindow/MainMenuBar.qml
  src/MainWindow/MainToolBar.qml
  src/MainWindow/Session.cpp
  src/MainWindow/Session.h
  src/MainWindow/mainWindow.qml
  src/MainWindow/mainwindowmodel.cpp
  src/MainWindow/mainwindowmodel.h
  src/MainWindow/qml.qrc
Labels: build, lang-make

#180 windows ci
  .github/workflows/main.yml
Labels: github

#184 centos build
  .github/workflows/main.yml
Labels: github

#185 Fix centos7 build
  .github/workflows/main.yml
Labels: github

#186 test centos
  .github/workflows/main.yml
Labels: github

#188 centos build in bash
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/main.yml
Labels: github

#200 download artifact
  .github/workflows/main.yml
Labels: github
