Repository os-fpga/FOEDAG, pull requests merged in 2022-05, with the labels that each got.

#343 Added synthesis logfile for OpenFPGA compiler.
  src/Compiler/CompilerOpenFPGA.cpp
Labels: enhancement

#351 Version update
  .github/workflows/version.yml
  CMakeLists.txt
  foedag_version.h.in
  src/Compiler/foedag_version_number.cpp
Labels: enhancement, build, lang-make, github

#363 Fixed versioning
  CMakeLists.txt
  foedag_version.h.in
Labels: bug, build, lang-make

#375 Bitstream generation does not redo pack,place,route
  CMakeLists.txt
  src/Compiler/CompilerOpenFPGA.cpp
Labels: build, lang-make

#377 Settings / Widget Factory Refactor using nlohmann Json
  CMakeLists.txt
  etc/settings/settings_test.json
  src/Main/Foedag.cpp
  src/Main/Settings.cpp
  src/Main/Settings.h
  src/Main/Tasks.cpp
  src/Main/Tasks.h
  src/Main/WidgetFactory.cpp
  src/Main/WidgetFactory.h
  src/Main/registerTclCommands.cpp
  third_party/nlohmann_json/CMakeLists.txt
  third_party/nlohmann_json/LICENSE.MIT
  third_party/nlohmann_json/json.hpp
  third_party/nlohmann_json/readme.txt
Labels: build, lang-make

#389 Don't run automatic version increment workflow if the PR is created from fork.
  .github/workflows/version.yml
  CMakeLists.txt
Labels: bug, build-break, build, lang-make, github

#400 Converted 'enum' to 'enum class'
  CMakeLists.txt
  src/Compiler/Compiler.cpp
  src/Compiler/Compiler.h
  src/Compiler/CompilerDefines.cpp
  src/Compiler/CompilerOpenFPGA.cpp
  third_party/tcl8.6.12/unix/configure
Labels: build, lang-make
