Repository os-fpga/FOEDAG, pull requests merged in 2022-07, with the labels that each got.

#498 make PRODUCTION_BUILD flag
  Makefile
Labels: build, lang-make

#501 Fixed missing git hash issue when built with 'sudo'.
  CMakeLists.txt
Labels: bug, build, lang-make

#496 Add about dialog
  CMakeLists.txt
  foedag_version.h.in
  src/Compiler/Compiler.cpp
  src/Compiler/Compiler.h
  src/Compiler/CompilerOpenFPGA.cpp
  src/Compiler/foedag_version_number.cpp
  src/Main/AboutWidget.cpp
  src/Main/AboutWidget.h
  src/Main/CMakeLists.txt
  src/Main/registerTclCommands.cpp
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
Labels: build, lang-make

#508 Improve about window
  CMakeLists.txt
  foedag_version.h.in
  src/Compiler/Compiler.cpp
  src/Compiler/foedag_version_number.cpp
  src/Main/AboutWidget.cpp
  src/Main/AboutWidget.h
  src/Main/registerTclCommands.cpp
  src/MainWindow/main_window.cpp
  tests/TestGui/gui_foedag.tcl
Labels: build, lang-make

#511 Build status for main branch
  CMakeLists.txt
  README.md
Labels: documentation

#540 Attempt to remove QML
  .github/workflows/install_ubuntu_dependencies_build.sh
  CMakeLists.txt
  src/Main/CMakeLists.txt
  src/Main/Foedag.cpp
  src/MainWindow/mainwindowmodel.h
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make, github
