Repository os-fpga/FOEDAG, pull requests merged in 2023-05, with the labels that each got.

#1083 Missing type 4 checking in string to uint64 conversion
  CMakeLists.txt
  src/Configuration/CFGCommon/CFGCommon.cpp
Labels: build, lang-make

#1084 [RG-387] Update Synth settings naming, change default DSP and BRAM
  CMakeLists.txt
  etc/settings/settings_test.json
  src/Compiler/CompilerOpenFPGA.cpp
  src/Main/Tasks.cpp
  src/MainWindow/main_window.cpp
Labels: build, lang-make

#1085 Fixed docs build
  .readthedocs.yml
  docs/requirements.txt
  docs/source/conf.py
Labels: documentation, build, lang-make

#1094 Fix program device help text
  CMakeLists.txt
  src/Configuration/CFGCommon/CFGArg.json
Labels: build, lang-make

#1089 [RG-396] Move help to txt files
  etc/help.txt
  src/Compiler/Compiler.cpp
  src/Compiler/Compiler.h
  src/Compiler/CompilerOpenFPGA.cpp
  src/Compiler/CompilerOpenFPGA.h
  src/Main/Foedag.cpp
  src/Utils/QtUtils.cpp
  src/Utils/QtUtils.h
  tests/TestGui/log_header.tcl
Labels: documentation

#1095 [EDA-1507] Fixed seg fault caused by data race condition
  CMakeLists.txt
  src/Compiler/Compiler.cpp
  src/Compiler/Compiler.h
  src/Compiler/WorkerThread.cpp
  src/Compiler/WorkerThread.h
Labels: build, lang-make

#1104 [EDA-1509] Allow user specify project folder for --project key
  CMakeLists.txt
  src/Main/CommandLine.cpp
  src/Main/CommandLine.h
Labels: build, lang-make

#1107 [RG-405] Update synth report for LUTs
  CMakeLists.txt
  src/Compiler/Reports/AbstractReportManager.cpp
  src/Compiler/Reports/AbstractReportManager.h
  src/Compiler/Reports/SynthesisReportManager.cpp
  src/Compiler/Reports/SynthesisReportManager.h
Labels: build, lang-make

#1110 Cleanup help text
  etc/help.txt
Labels: build, lang-make

#1123 Fixed IP configurator glitch
  CMakeLists.txt
  src/MainWindow/main_window.cpp
Labels: build, lang-make

#1126 [EDA-1567] simulation options wrong arg
  Makefile
  src/Simulation/Simulator.cpp
  tests/TestBatch/test_simulation_options.tcl
Labels: build, lang-make

#1131 Fixed issue with terminate console command
  CMakeLists.txt
  src/Console/TclConsole.cpp
Labels: build, lang-make
