Repository os-fpga/FOEDAG, pull requests merged in 2023-07, with the labels that each got.

#1172 [RG-451] Initial hierarchy view
  CMakeLists.txt
  src/Compiler/Compiler.cpp
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
  src/ProjNavigator/CMakeLists.txt
  src/ProjNavigator/HierarchyView.cpp
  src/ProjNavigator/HierarchyView.h
  src/ProjNavigator/tcl_command_integration.cpp
  src/ProjNavigator/tcl_command_integration.h
Labels: build, lang-make

#1178 Add codecav badge to readme
  CMakeLists.txt
  README.md
Labels: documentation

#1180 Update YAML file: Remove unnecessary artifacts
  .github/workflows/install_centos_dependencies_build.sh
  CMakeLists.txt
Labels: github

#1174 Switch test coverage collection to gcovr
  .github/workflows/install_ubuntu_dependencies_build.sh
  .github/workflows/main.yml
  Makefile
  code-coverage.sh
  tests/unittest/Utils/StringUtils_test.cpp
Labels: build, lang-make, github, lang-shell

#1184 Add API to split string
  CMakeLists.txt
  src/Configuration/CFGCommon/CFGArg.py
  src/Configuration/CFGCommon/CFGCommon.cpp
  src/Configuration/CFGCommon/CFGCommon.h
  src/Configuration/CFGCommon/Test/CFGCommon_test.cpp
  tests/unittest/CFGCommon/CFGCommon_test.cpp
  tests/unittest/CMakeLists.txt
Labels: build, lang-make

#1186 Remove bitstream cache
  CMakeLists.txt
  src/Compiler/Compiler.cpp
  src/Compiler/CompilerOpenFPGA.cpp
  src/Compiler/CompilerOpenFPGA.h
  tests/TestGui/compiler_flow.tcl
  tests/Testcases/yosys_design_file/yosys_design_file.tcl
  tests/unittest/CMakeLists.txt
  tests/unittest/Compiler/Compiler_test.cpp
Labels: build, lang-make

#1200 Avoid assertion
  CMakeLists.txt
  src/Configuration/CFGCompiler/CFGCompiler.cpp
  src/Configuration/CFGCompiler/CFGCompiler.h
  tests/unittest/CFGCompiler/CFGCompiler_test.cpp
  tests/unittest/CMakeLists.txt
Labels: build, lang-make
