Repository os-fpga/FOEDAG, pull requests merged in 2023-09, with the labels that each got.

#1260 Fixed RELEASE_VERSION usage
  CMakeLists.txt
  src/Main/ProjectFile/ProjectFileLoader.cpp
Labels: build, lang-make

#1261 Remove deprecated system packages usage for read the docs build
  .readthedocs.yml
  CMakeLists.txt
  docs/requirements.txt
Labels: documentation, build, lang-make

#1265 Open IP configuration when user select IP Reconfiguration action from context menu
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
Labels: build, lang-make

#1280 Fixed empty GIT_HASH variable
  CMakeLists.txt
Labels: build, lang-make

#1284 Update main.yml to add if always to upload artifact
  .github/workflows/main.yml
  CMakeLists.txt
Labels: github

#1278 Add programmer gui as standalone app
  CMakeLists.txt
  src/Main/main.cpp
  src/ProgrammerGui/CMakeLists.txt
  src/ProgrammerGui/app/main.cpp
Labels: build, lang-make

#1294 [RG-468] Fixed generating IP after stop compilation press.
  CMakeLists.txt
  src/MainWindow/main_window.cpp
Labels: build, lang-make

#1315 Build OpenSSL Lib for MSVC
  .github/workflows/main.yml
  CMakeLists.txt
  third_party/openssl/CMakeLists.txt
  third_party/openssl/libcrypto-1_1-x64.lib
  third_party/openssl/libssl-1_1-x64.lib
  third_party/openssl/openssl_test.cpp
Labels: build, lang-make, github

#1321 Fix progress issue and status
  CMakeLists.txt
  src/Configuration/CFGCommon/CFGCommon.cpp
  src/Configuration/Programmer/Programmer.cpp
  src/ProgrammerGui/ProgrammerMain.cpp
Labels: build, lang-make
