Repository os-fpga/FOEDAG, pull requests merged in 2023-11, with the labels that each got.

#1364 Fix centos qt6
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/main.yml
  CMakeLists.txt
Labels: github

#1365 Fixed build issues Qt6 on WIN
  CMakeLists.txt
  Makefile
  src/Compiler/Task.cpp
  src/Console/OutputFormatter.h
  src/IpConfigurator/IpCatalogTree.cpp
  src/Main/Foedag.cpp
  src/Main/FoedagStyle.h
  src/Main/qttclnotifier.cpp
  src/MainWindow/MessagesTabWidget.cpp
  src/PinAssignment/PackagePinsModel.cpp
  src/PinAssignment/PinAssignmentCreator.cpp
  src/PinAssignment/PortsModel.cpp
  src/ProgrammerGui/ProgrammerMain.cpp
  src/ProgrammerGui/SummaryProgressBar.cpp
Labels: build, lang-make

#1366 Fixed valgrind and CentOS build
  CMakeLists.txt
  Makefile
  src/Configuration/CMakeLists.txt
  valgrind.supp
Labels: build, lang-make

#1367 Replace hasPendingEvents()
  .github/workflows/main.yml
  Makefile
  src/Main/qttclnotifier.cpp
Labels: build, lang-make, github

#1369 Fixed tcl simple parser to calculate commands correct
  CMakeLists.txt
  src/Main/TclSimpleParser.cpp
Labels: build, lang-make

#1374 [EDA-2021] Fix MSVC build for Programmer tool
  CMakeLists.txt
  src/Configuration/Programmer/Programmer.cpp
  tests/TestInstall/CMakeLists.txt
  tests/unittest/CMakeLists.txt
Labels: build, lang-make

#1380 [EDA-2257] Fixed typo for ip configuration command
  etc/help.txt
Labels: build, lang-make

#1392 Revert "Revert "Put tk library side to tcl" (#1385)"
  .gitignore
  CMakeLists.txt
  third_party/gtkwave_cmake/CMakeLists.txt
Labels: build, lang-make

#1393 Explicitly use add_dependencies() for dependency
  CMakeLists.txt
  src/Configuration/CMakeLists.txt
Labels: build, lang-make

#1396 Sequential multi map
  .github/workflows/main.yml
  src/NewProject/ProjectManager/project_manager.cpp
  src/Utils/sequential_map.h
  tests/unittest/Utils/sequential_map_test.cpp
Labels: github

#1398 [EDA-2287] Build in one thread
  CMakeLists.txt
Labels: build, lang-make
