Repository os-fpga/FOEDAG, pull requests merged in 2024-01, with the labels that each got.

#1431 Update CentOS CI to use Qt with OpenSSL enabled
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/main.yml
  CMakeLists.txt
Labels: github

#1433 Finalize exe input file by extension
  CMakeLists.txt
  src/Compiler/CompilerOpenFPGA.cpp
Labels: build, lang-make

#1436 Model Config Version 3.0
  CMakeLists.txt
  src/Configuration/CFGCommon/CFGCommon.cpp
  src/Configuration/CFGCommon/CFGCommon.h
  src/Configuration/ModelConfig/ModelConfig.cpp
  tests/unittest/CFGCommon/CFGCommon_test.cpp
  tests/unittest/ModelConfig/ModelConfig_test.cpp
  tests/unittest/ModelConfig/model_config.json
  tests/unittest/ModelConfig/model_config_bin.golden.bin
  tests/unittest/ModelConfig/model_config_bit.golden.txt
  tests/unittest/ModelConfig/model_config_design.json
  tests/unittest/ModelConfig/model_config_design_empty_instances.json
  tests/unittest/ModelConfig/model_config_design_null_instances.json
  tests/unittest/ModelConfig/model_config_detail.golden.txt
  tests/unittest/ModelConfig/model_config_tcl.golden.txt
  tests/unittest/ModelConfig/model_config_word.golden.txt
Labels: build, lang-make

#1440 Rework one test with QSignalSpy
  CMakeLists.txt
  tests/unittest/ProjNavigator/HierarchyView_test.cpp
Labels: build, lang-make

#1434 [EDA-2363] Show warning message when user try to add files to project with same name
  src/NewProject/source_grid.cpp
  src/NewProject/source_grid.h
Labels: build, lang-make

#1439 Prepare IO bitstream generation
  src/Compiler/Compiler.h
  src/Compiler/CompilerOpenFPGA.cpp
  src/Configuration/CFGCompiler/CFGCompiler.cpp
  src/Main/main.cpp
  src/ProgrammerGui/app/main.cpp
Labels: build, lang-make

#1444 qwebengine issues
  .github/workflows/install_ubuntu_dependencies_build.sh
  CMakeLists.txt
  Makefile
  src/TextEditor/CMakeLists.txt
  src/TextEditor/text_editor_form.h
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make, github

#1445 Qtwebengine CI dependencies for monaco
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/install_ubuntu_dependencies_build.sh
  .github/workflows/main.yml
  CMakeLists.txt
  Makefile
  src/TextEditor/CMakeLists.txt
  src/TextEditor/text_editor_form.h
  tests/TestInstall/CMakeLists.txt
Labels: build, lang-make, github

#1446 [RG-495] Add rapidgpt support
  .github/workflows/main.yml
  CMakeLists.txt
  src/MainWindow/main_window.cpp
  src/MainWindow/main_window.h
  src/rapidgpt/CMakeLists.txt
  src/rapidgpt/RapidGpt.cpp
  src/rapidgpt/RapidGpt.h
  src/rapidgpt/RapidGptContext.cpp
  src/rapidgpt/RapidGptContext.h
  src/rapidgpt/RapigGptSettingsWindow.cpp
  src/rapidgpt/RapigGptSettingsWindow.h
  tests/TestInstall/CMakeLists.txt
  tests/unittest/CMakeLists.txt
  tests/unittest/rapidgpt/rapidgpt_test.cpp
Labels: build, lang-make, github

#1448 Qwebengineview flashing workaround
  CMakeLists.txt
  src/Main/CMakeLists.txt
  src/MainWindow/main_window.cpp
  src/TextEditor/monaco_editor.cpp
  src/TextEditor/text_editor_form.cpp
Labels: build, lang-make

#1441 Integrate monaco editor
  .github/bin/run-clang-tidy.sh
  .github/workflows/Dockerfile
  .github/workflows/build_centos_image.yml.yml
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/install_ubuntu_dependencies_build.sh
  .github/workflows/main.yml
  .gitignore
  CMakeLists.txt
  Makefile
  cmake/cmake_qt.txt
  src/Main/CMakeLists.txt
  src/MainWindow/main_window.cpp
  src/TextEditor/CMakeLists.txt
  src/TextEditor/cpp_endpoint.cpp
  src/TextEditor/cpp_endpoint.h
  src/TextEditor/monaco_editor.cpp
  src/TextEditor/monaco_editor.h
  src/TextEditor/text_editor_form.cpp
  src/TextEditor/text_editor_form.h
  tests/TestInstall/CMakeLists.txt
  third_party/monaco-editor/CMakeLists.txt
  third_party/monaco-editor/monaco-editor.html
  third_party/monaco-editor/qwebchannel.js
Labels: build, lang-make, github

#1455 Monaco editor cmake clean up
  .github/workflows/version.yml
  third_party/monaco-editor/CMakeLists.txt
Labels: github

#1459 RapidGPT performance improve
  CMakeLists.txt
  Makefile
  src/rapidgpt/CMakeLists.txt
  src/rapidgpt/RapidGpt.cpp
  src/rapidgpt/RapidGpt.h
  src/rapidgpt/Test/RapidGptCommands.cpp
  src/rapidgpt/Test/RapigGPT_main.cpp
  tests/TestGui/rapidgpt.tcl
Labels: build, lang-make

#1466 Add foedag startup script
  CMakeLists.txt
  src/.foedagenv_lin64.sh
  src/foedagenv_lin64.sh
  src/to_be_foedag_linx
Labels: build, lang-make

#1468 Fixed crash ralated to editor after application close
  Makefile
  src/TextEditor/text_editor_form.cpp
Labels: build, lang-make
